SECRET_KEY=secret
DATABASE_URI=postgresql+psycopg2://postgres:postgres@localhost:5432/geoguessr
FRONTEND_URL='http://localhost:5173/'
CORS_ORIGINS='http://localhost:5173'

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_URL=redis://localhost:6479/0