SECRET_KEY=secret
SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://[username]:[password]@[host]:[port]/[db]
FRONTEND_URL='http://localhost:5173/'
CORS_ORIGINS='http://localhost:5173'
HOST=
PORT=
DEBUG=

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_URL=redis://localhost:6479/0
